@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Light.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.ttf');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Medium.ttf');
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-SemiBold.ttf');
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Bold.ttf');
    font-weight: 700;
    font-display: fallback;
}

* {
    font-family: Quicksand!important;
}