:root {
    --orange: #ff7b31;
    --blue: #1ea4e4;
}

a, a:hover {
    text-decoration: none!important;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.btn-pe {
    padding: 12px 30px;
    min-width: 230px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    background-image: -moz-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
    background-image: -webkit-linear-gradient(0deg, #ffd86e 0%, #ff722b 100%);
    background-image: -ms-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
    box-shadow: 2.419px 9.703px 12.48px 0.52px rgb(255 114 43 / 50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #ffffff;
    display: inline-block;
}

.btn-pe:hover {
    color: #fff;
    transform: translateY(-5px);
}

.section {
    padding: 120px 0;
    overflow: hidden;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    transform: translateY(0);
    opacity: 1;
}

.swiper .swiper-button-next, .swiper  .swiper-button-prev {
    border-radius: 5px;
    background: var(--orange);
    padding: 20px;
    opacity: 0;
    transform: translateY(15px);
    transition: 0.3s ease-in-out;
}

.swiper .swiper-button-next:after, .swiper  .swiper-button-prev:after {
    font-size: 20px;
    color: #fff;
}

.text-2-line {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.logo img {
    height: 70px;
    width: auto;
}

.main_header .main_menu > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0;
    padding-top: 0.2em;
}

.main_header .main_menu > ul a {
    font-size: 18px;
    font-weight: 700;
    padding: 0 17px;
    color: var(--orange);
    transition: 0.3s ease;
}

.main_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.bg_overlay {
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: #00000049;
    top: 0;
    left: 0;
    display: none;
}

.bg_overlay.active {
    display: block;
}

.toolbar-tray-open .main_header {
    top: 78px;
}

.main_header {
    height: 80px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s ease-in-out;
}


.path-frontpage .main_header {
    background: transparent;
    box-shadow: none;
}


.path-frontpage .main_header.hd_fix {
    background: #fff;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%);
}

.path-frontpage .main_header .main_menu > ul a {
    text-shadow: 0 3px 8px rgb(0 0 0 / 89%);
}

.path-frontpage .main_header.hd_fix .main_menu > ul a {
    text-shadow: none;
}

body:not(.path-frontpage) #header {
    padding-bottom: 80px;
}

#footer {
    background-color: #D06224;
    padding: 75px 0;
    position: relative;
    overflow: hidden;
}

#footer .nt-column {
    position: relative;
    z-index: 2;
}

.ocean { 
    height: 150px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 1;
}

.wave {
    background: url('../images/wave.svg') repeat-x; 
    position: absolute;
    top: 0;
    width: 6400px;
    height: 150px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: 30px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}

.logo-ft img {
    height: 130px;
    width: auto;
    display: block;
    margin-bottom: 15px;
}

#footer .z-index-2 .field--name-field-title {
    color: #fff;
    font-size: 14px;
}

#footer .address_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .address_wrapper ul li {
    display: flex;
}

#footer .address_wrapper ul li:not(:last-child) {
    margin-bottom: 15px;
}

#footer .address_wrapper ul li,
#footer .address_wrapper ul li a {
    color: #fff;
    font-weight: 16px;
    font-weight: 600;
    
    
}

#footer .address_wrapper ul li svg {
    margin-right: 15px;
    font-size: 18px;
}

#footer .z-index-3,
#footer .z-index-4 {
    margin-top: 20px;
}

#footer .menu {
    margin: 0;
}

#footer .menu li a {
    color: #fff;
    font-weight: 16px;
    font-weight: 600;
}

#footer .menu li:not(:last-child) {
    margin-bottom: 15px;
}

.page-banner {
    position: relative;
}

.page-banner img {
    width: 100%;
    max-height: calc(100vh - 80px);
    object-fit: cover;
}

.page-banner:before {
    content: '';
    background: rgba(25,25,29,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.page-banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-banner h1 {
    font-size: 128px;
    color: #fff;
    font-weight: 700;
}

.page-banner svg {
    color: var(--orange);
    font-size: 22px;
}

.page-banner .desc {
    font-size: 24px;
    line-height: 1.417;
    color: #fff;
    margin-top: 10px;
}

.rows {
    padding: 50px 0;
}

.blog_page {
    padding: 50px 0;
}

.pager__item {
    background: #fff;
    margin: 0 2px;
    display: inline-flex;
    border-radius: 3px;
    padding: 4px 10px;
    
}

.pager__item.is-active {
    background: var(--orange);
}

.pager__item.is-active a {
    color: #fff;
}

li.pager__item a {
    color: var(--orange);
    font-weight: 500;
}

.address_wrapper ul.social-media-links--platforms {
    display: flex;
    margin-top: 15px!important;
}

.address_wrapper ul.social-media-links--platforms li svg {
    font-size: 30px!important;
    margin-right: 5px!important;
}

input {
    max-width: 100%;
}

@media(max-width: 992px) {
    .open_menu_mobile {
        font-size: 20px;
        color: var(--dark-color);
    }

    .main_menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100vh;
        width: 300px;
        max-width: 75%;
        transform: translateX(300px);
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }

    .main_menu.active {
        transform: translateX(0);
    }

    .main_menu > a {
        padding: 38px 25px 0;
    }

    .main_menu img {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        border-radius: 3px;
    }

    .main_header .main_menu > ul {
        flex-direction: column;
        width: 100%;
        padding: 0 25px;
    }

    .main_header .main_menu > ul li:not(:last-child) {
        border-bottom: 1px solid var(--gray-light);
    }

    .main_header .main_menu > ul a {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 12px 0;
        display: inline-block;
        text-shadow: unset!important;
    }

    .main_header .main_menu > ul li:not(:last-child) {
        border-bottom: 1px solid #eeeff2;
    }

    .logo img {
        height: 50px;
    }

    .main_header {
        height: 60px;
    }

    body:not(.path-frontpage) #header {
        padding-bottom: 60px;
    }
}

@media(max-width: 480px) {
    .btn-pe {
        padding: 8px 12px;
        min-width: 160px;
        text-align: center;
        font-size: 16px;
    }

    .section {
        padding: 60px 0;
    }

    .page-banner h1 {
        font-size: 34px;
    }

    .page-banner .desc {
        font-size: 18px;
    }
}

