<div id="footer">
    <div class="container">
        <div class="row">
            <div class="z-index-2 nt-column col-sm-3 col-lg-4 col-md-8 col-12">
                {{ drupal_entity('block', 'footerlogo') }}
                {{ drupal_entity('block', 'footercopyright') }}
            </div>
            <div class="z-index-3 nt-column col-sm-3 col-lg-4 col-md-5 col-12">
                {{ drupal_entity('block', 'footer_contact') }}
            </div>
            <div class="z-index-4 nt-column col-sm-3 col-lg-4 col-md-7 col-12">
                {{ drupal_menu('main') }}
            </div>
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
    </div>
</div>